<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911014600437-3k1660hl63q53iniejmu9hii3bp2mbkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911014600437-3k1660hl63q53iniejmu9hii3bp2mbkt</string>
	<key>API_KEY</key>
	<string>AIzaSyDrbbDIiYc6rq-Kr73j03WpzfsjvJ1zuNY</string>
	<key>GCM_SENDER_ID</key>
	<string>911014600437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dchat</string>
	<key>PROJECT_ID</key>
	<string>dchat-remote</string>
	<key>STORAGE_BUCKET</key>
	<string>dchat-remote.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911014600437:ios:2da56a23eacbb8c3d2efbc</string>
</dict>
</plist>